
root:: {
    --Pale blue: hsl(225, 100%, 94%)
    --Bright blue: hsl(245, 75%, 52%)
}




body {
    font-family: 'Red Hat Display', sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;

}


.card {
    width: 330px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border-radius: 25px;
    background-color: white;
}

.header img {
    width: 100%;
    display: block;
    border-radius: 25px 25px 0 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-content h2 {
    font-weight: 900;
    font-size: 22px;
    margin-top: 35px;
}

.main-content p {
    margin-top: 25px;
    padding: 0 30px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
}

.cost {
    display:flex;
    flex-direction: column;
}


.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 25px 22px;
    padding: 15px 15px;
}


.cost {
    margin-left: -28px;
}

.cost h2 {
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 7px;
}

.cost span {
    font-size: 14px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.btn-wrapper a {
    font-size: 13px;
    font-weight: 800;
    color: hsl(245, 75%, 52%);
}

.btn-wrapper a:hover {
    color: hsl(245, 70%, 65%);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.yes-wrapper {
    background-color: hsl(245, 75%, 52%);
    padding: 17px 65px;
    border-radius: 10px;
    box-shadow: 0px 19px 15px hsl(225, 100%, 94%);
}

.yes-wrapper:hover {
    background-color: hsl(245, 70%, 65%);
}

.btn-yes {
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
}

.no-wrapper {
    margin-top: 30px;
    margin-bottom: 29px;
}

.btn-no {
text-decoration: none;
color: hsl(224, 23%, 55%);
font-weight: 800;
display: inline-block;
    text-decoration: none;
}

.btn-no:hover {
    color:black;
}

.atr {
    position: absolute;
    bottom: 20px;
    font-size: 13px;
}

.atr a {
    color: rgb(226, 33, 233); 
    font-weight: 800;
    text-decoration: none;
}

@media all and (min-width: 600px) {
    main {
        background: url(/images/pattern-background-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
        background-position: 0 -80px;
    }

    .card {
    width: 380px;
    transform: scale(1.25)
    }

    .yes-wrapper {
    padding: 13px 105px;
    margin-bottom:
    }

    .btn-yes {
    font-size: 13px;
    }

    .btn-no {
    font-size: 13px;
    }


    .cost {
    margin-left: -75px;
    }

    .atr {
        position: absolute;
        bottom: 60px;
    }

    .atr a {
        color: rgb(226, 33, 233); 
    font-weight: 800;
    text-decoration: none;
    }
}